{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'orders/styles.css' %}">
    <title>Cart</title>
</head>
<body>
	<a href="{% url 'index' %}">Home</a>
  <a href="{% url 'signout' %}" style="position:absolute;top:10;right:10pt;">Logout</a>
	<h2>Your Orders</h2>
	<table style="width:50%; text-align: center;">
        <tr>
          <th>Name</th>
          <th>Price (EGP)</th>
          <th>Status</th>
        </tr>
        {% for order in orders %}
        <tr>
          <td>{{order.item_id.name}}</td>
          <td>{{order.item_id.price}}</td>
          {% if order.status == 'c' %}
            <td>Completed</td>
          {% else %}
            <td>Pending</td>
          {% endif %}
          <td><button onclick="removeItem(event, {{order.id}})"> - </button></td>
        </tr>
        {% endfor %}
  <!--       <tr>
          <td>Chicken runch</td>
          <td>50</td>
          <td>pending</td>
          <td><button> - </button></td>
        </tr> -->
  
        <tr>
          <td><h3>Total</h3></td>
          <td>{{total}}</td>
        </tr>
        <tr>
          <td></td>
          <td><button id="Checkout">Checkout</button></td>
        </tr>
      </table>

  <script>
    function removeItem(evt, id) {
      $.ajax({
          url: 'http://127.0.0.1:8000/remove_from_cart',
          type: 'POST',
          data:{
            order_id: id,
            csrfmiddlewaretoken: document.cookie.split("=")[1]
          },
          success: function() {
            evt.target.parentElement.parentElement.remove()
          }
      });
      // $.delete("http://127.0.0.1:8000/remove_from_cart",
      //   {
      //     order_id: id,
      //     csrfmiddlewaretoken: document.cookie.split("=")[1]
      //   },
      //   function(){
      //     evt.target.parentElement.remove()
      //   });
      
    }
  </script>
</body>
</html>