<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome | Registration</title>
</head>
<body>
    <h1>Welcome to Pizza Mania</h1>
    <form action="{% url 'register' %}" method="POST">
      <div>
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        {% csrf_token %}
        <hr>
        {{ form.as_p }}
        <hr>
        <!-- <hr>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
        <hr> -->
        {% if existing_name %}
          <p style="color:red">This username already exists, please try another one.</p>
        {% endif %}
        <button type="submit" >Register</button>
      </div>

      <div>
        <p>Already have an account? <a href="{% url 'signin' %}">Sign in</a></p>
      </div>
    </form>

</body>
</html>